In [1]:
import pandas as pd

In [2]:
data ={
    "CustomerID": [101,102,103,104],
    "CustomerName": ["Shashi","yash","veman","chippa"],
    "City": ["mumbai","pune","delhi","banglore"],
    "orderAmount": [1000,2000,4000,899]
}

In [17]:
df=pd.DataFrame(data)

print(df)

   CustomerID CustomerName      City  orderAmount
0         101       Shashi    mumbai         1000
1         102         yash      pune         2000
2         103        veman     delhi         4000
3         104       chippa  banglore          899

In [18]:
#storing data in text file format

df.to_csv("sample.txt", index=False)
print("Data stored in text format")

Data stored in text format

In [19]:
#reading data from text file stored

read_df = pd.read_csv("sample.txt")
print("data read from text file format :")
print(read_df)

data read from text file format :
   CustomerID CustomerName      City  orderAmount
0         101       Shashi    mumbai         1000
1         102         yash      pune         2000
2         103        veman     delhi         4000
3         104       chippa  banglore          899

In [20]:
#saving data in other file formats :JSON, excel

#JSON file format

df.to_json("sample1.json")#, orient="records"
print("Data saved to json file format")

Data saved to json file format

In [21]:
#reading data from json file

read_df1= pd.read_json("sample1.json")
print("data from json file is :")
print(read_df1)

data from json file is :
   CustomerID CustomerName      City  orderAmount
0         101       Shashi    mumbai         1000
1         102         yash      pune         2000
2         103        veman     delhi         4000
3         104       chippa  banglore          899

In [24]:
#saving data to excel file format

df.to_excel("sample2.xlsx",index=False)
print("data saved to excel format")

data saved to excel format

In [25]:
#reading data from excel file

read_df2 = pd.read_excel("sample2.xlsx")
print("data from excel file is:")
print(read_df2)

data from excel file is:
   CustomerID CustomerName      City  orderAmount
0         101       Shashi    mumbai         1000
1         102         yash      pune         2000
2         103        veman     delhi         4000
3         104       chippa  banglore          899